body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    #section0{
        overflow: hidden;
        #myVideo {
            position: absolute;
            right: 0;
            bottom: 0;
            top:0;
            right:0;
            width: 100%;
            height: 100%;
            background-size: 100% 100%;
            background-color: black; /* in case the video doesn't fit the whole page*/
            background-image: url("./videos/splash.mp4") /* our video */;
            background-position: center center;
            background-size: contain;
            object-fit: cover; /*cover video background */
            z-index:3;
        }
        //Hide video controls
        video::-webkit-media-controls {
            display:none !important;
        }
        h1{
            font-size: 10em;
            margin: 0;
            padding: 0;
            text-align: center;
        }
        p{
            font-size: 2em;
            margin: 0;
            padding: 0;
        }
        .cosmo{
            position: relative;
            z-index: 10;
            height: 100%;
            width: 99.5vw; //just a hack for now...
            .top{
                color: rgba(255, 197, 96, 0.7);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 0;
                margin: 0;
                height: 230px;
                width: 100vw;
            }
            .middle{
                color: rgba(102, 255, 216,0.5);
                position: absolute;
                top: 51%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 0;
                margin: 0;
                height: 230px;
                width: 100vw;
            }
            .bottom{
                color: rgba(102, 255, 216,0.5);
                position: absolute;
                top: 52%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 0;
                margin: 0;
                height: 230px;
                width: 100vw;
            }
            .subtitle{
                color: rgba(102, 255, 216,0.9);
                font-weight: 700;
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            @keyframes pulse{
                0%{opacity: 0;}
                50%{opacity: 1;}
                100%{opacity: 0;}
            }
            .scrolldown{
                position: absolute;
                color: white;
                left: 50%;
                transform: translate(-50%, -50%);
                bottom: 0%;
                font-size: 1em;
                animation-name: pulse;
                animation-iteration-count: infinite;
                animation-duration: 2s;
                animation-timing-function: ease;
            }
        }

    }
    #section1{
        .everything-holder{
            margin: 0 auto;
            width: 90%;
            .matthew-image{
                background-image: url('../images/matthew.jpg');
                height: 700px;
                width: 1000px;
                background-size: cover;
                position: relative;
            }
            .title{
                font-size: 7em;
                position: absolute;
                bottom: -1.32em;
                color: #323141;
            }
            .mid{
                bottom: -1.7em;
                color: #5D72A7;
            }
            .bot{
                bottom: -2.1em;
                color: black;
            }
            .image-holder{
                display: inline-block;
                margin-left: 10em;
            }
            .bio-holder{
                display: inline-block;
                vertical-align: top;
                font-size: 1.3em;
                width: 27em;
                margin-left: 3em;
            }
        }
    }
    #section2{
        background-color: blue;
    }
}
// responsiveness nowhere near complete
@media (max-width: 1200px) { 
    body{
        #section0{
            .cosmo{
                h1{
                    font-size: 9em;
                }
            }
        }
    }
}
@media (max-width: 900px) { 
    body{
        #section0{
            .cosmo{
                h1{
                    font-size: 7em;
                }
            }
        }
    }
}